.checkout {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 3rem auto;
}

.cart-items {
    width: 74%;
}

.buyer-info {
    width: 24%;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.order, .buyer-address {
    font-size: 0.8rem;
}

.order textarea {
    padding: 0.5rem;
    margin: 5px auto;
    width: 100%;
    height: 5rem;
}

.buyer-address input {
    width: 100%;
    margin: 5px auto;
    height: 2rem;
    padding: 0.5rem;
}

.purchase {
    border-radius: 10px;
    cursor: pointer;
    height: 3rem;
    background-color: rgb(72,197,171);
    color: white;
    outline: none;
    border: none;
}

.purchase:hover {
    background-color: rgb(43, 156, 132);
    transition: ease 0.2s;
}

.item-in-cart {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0.5rem;
    border-bottom: rgb(72,197,171) solid 1px;
    display: grid;
    grid-template: repeat(4, 50px) / 30% 70%;
    margin-bottom: 1rem;
}

.close-mark {
    width: 20px;
    height: 20px;
    position: relative;
    opacity: 50%;
}

.close-mark::after {
    content: '';
    position: absolute;
    height: 100%;
    border-left: black solid 1px;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
}

.close-mark::before {
    content: '';
    position: absolute;
    height: 100%;
    border-right: black solid 1px;
    transform: rotate(-45deg);
    right: 50%;
}

.close-mark:hover {
    cursor: pointer;
    opacity: 100%;
    background-color: orange;
}

.item-in-cart__img {
    border: blue solid 1px;
    width: 85%;
    height: auto;
    min-width: 100px;
    grid-row: 1 / span 4;
    grid-column: 1 / 2;
}

.item-in-cart__name {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.item-in-cart__size, .item-in-cart__price, .item-in-cart__quantity {
    padding: 0.8rem;
    border: blue solid 1px;
}

.no-item {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

@media only screen and (max-width: 720px) {
    .checkout {
        flex-direction: column;
    }

    .cart-items, .buyer-info {
        width: 100%;
    }

    .item-in-cart {
        grid-template: repeat(4, 40px) / 30% 70%;
    }

    .close-mark {
        min-height: 15px;
        min-width: 15px;
    }

    .item-in-cart__name, .item-in-cart__size, .item-in-cart__quantity, .item-in-cart__price {
        font-size: 0.8rem;
    }

    .item-in-cart__img {
        align-self: center;
    }

    .buyer-info {
        margin-top: 2rem;
        padding-top: 1rem;
        height: 350px;
        border-top: rgb(72,197,171) solid 1px;
    }
}