.page-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    border-bottom: rgb(72,197,171) solid 2px;
    height: 2em;
    display: flex;
    align-items: center;
    margin: 7em 15% 1em 15%;
}

.paragraph {
    margin: 0 15%;
    margin-bottom: 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
}

.paragraph a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(72,197,171);
}

.paragraph a:hover {
    color: rgb(43, 156, 132);
    transition: ease 0.2s;
}

.paragraph h3 {
    font-size: 1.2em;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

li a {
    color: rgb(72,197,171);
    text-decoration: none;
}

li a:hover {
    color: rgb(43, 156, 132);
    transition: ease 0.2s;
}

.paragraph li {
    list-style-type: disc;
    margin-left: 3rem;
}