.product-page {
    width: 70%;
    margin: 9rem auto 4rem auto;
    height: 512px;
    font-family: 'Roboto', sans-serif;
    max-width: 1060px;
}

.product-image {
    width: 48%;
    max-width: 512px;
    height: auto;
    display: inline-block;
}

.product-image img {
    width: 100%;
}

.product-info {
    width: 48%;
    height: 400px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 1.7rem;
    padding-bottom: 20px;
    border-bottom: rgb(150,201,153) solid 1px;
}

.product-info h3 {
    font-size: 1.7rem;
    font-weight: 300;
}

.sizes h5 {
    margin-bottom: 10px;
}

.sizes__buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sizes__buttons div {
    height: 2rem;
    margin-top: 20px;
    margin-left: 5px;
}

.sizes__buttons div:first-child {
    margin-left: -0.5rem;
}

.sizes input {
    /* Don't use "display: none" or "visibility: hidden"
    It makes choosing by keyboard unusable */
    opacity: 0;
    width: 0;
    height: 0;
}

.sizes label {
    border: rgb(226,226,226) solid 1px;
    margin-right: 0.2rem;
    padding: 10px 10px;
    font-size: 0.7rem;
}

.sizes label:hover {
    cursor: pointer;
}

.sizes input:checked + label {
    border: black 1.5px solid;
    border-radius: 5px;
}

.quantity h5 {
    margin-bottom: 1rem;
}

.quantity input {
    text-align: center;
    height: 3rem;
    font-size: 1rem;
}

.add-to-cart {
    width: 40%;
    height: 3rem;
    border: rgb(72,197,171) solid 1px;
    color: rgb(72,197,171);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    transition: linear 0.2s;
}

.add-to-cart:hover {
    background-color: rgb(72,197,171);
    color: white;
    cursor: pointer;
}

.added-popup {
    display: none;
    position: fixed;
    background-color: rgb(72,197,171);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
    .product-page {
        display: flex;
        flex-direction: column;
        margin: 9rem auto 4rem auto;
        align-items: center;
        width: 90%;
        height: 850px;
    }

    .product-image, .product-info {
        width: 100%;
    }

    .product-name {
        text-align: center;
    }

    .quantity input, .add-to-cart {
        width: 90%;
        margin: 0 5%;
    }    
}
