.product-page {
    border: red solid 1px;
    width: 70%;
    margin: auto auto;
    height: 500px;
}

.product-image {
    border: blue solid 1px;
    width: 48%;
    height: 100%;
    display: inline-block;
}

.product-info {
    border: green solid 1px;
    width: 48%;
    height: 100%;
    float: right;
}