.shop-banner {
    background-image: url("shallow-focus-photography-of-green-leafed-plants-1207966.jpg");
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    margin-top: 7rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tagline {
    color: rgb(72,197,171);
    width: 50%;
    font-size: 4rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-align: center;
}

.shop-banner button {
    margin-top: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(72,197,171);
    border: none;
    font-size: 2vw;
    color: white;
    cursor: pointer;
    outline: none;
}

.shop-banner button:hover {
    background-color: rgb(43, 156, 132);
    transform: scale(1.1);
    transition: ease .2s;
}

.shop-section {
    font-family: 'Roboto', sans-serif;
    max-width: 1520px;
    margin: auto;
}

.shop-section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: auto;
    width: 80%;
    height: 5rem;
    text-align: center;
    border-bottom: rgb(72,197,171) solid 2px;
}

@media only screen and (max-width: 720px) {
    #tagline {
        width: 90%;
    }

    .shop-banner button {
        width: 50%;
        font-size: 2rem;
    }
}