.shop-banner {
    background-image: url("shallow-focus-photography-of-green-leafed-plants-1207966.jpg");
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    height: 100vh;
    color: white;
}

.shop-banner h2 {
    position: relative;
    display: block;
    top: 3em;
    font-size: 4em;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
}

.shop-banner button {
    position: relative;
    display: block;
    width: 10%;
    height: 10%;
    border-radius: 10px;
    outline: none;
    border: white solid 1px;
    background-color: transparent;
    font-size: 2vw;
    color: white;
    cursor: pointer;
    margin: 7em auto;
}

.shop-banner button:hover {
    background-color: rgba(61, 187, 61, 0.5);
}

.new-arrivals {
    height: 35em;
    border: green solid;
    text-align: center;
}

.new-arrivals h1 {
    border-bottom: rgb(0, 0, 0) solid 1px;
    height: 15%;
    padding-top: 0.6em;
    margin: auto;
    width: 80%;
}