.searchbar-container {
    display: flex;
    height: 5rem;
    width: 15%;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.searchbar-container input {
    height: 40%;
    min-width: 40%;
    margin: 1.2rem 0;
    border: 1.5px white solid;
    border-right: none;
    outline: none;
    background-color: rgb(72,197,171);
    font-family: 'Roboto', sans-serif;
    padding-left: 0.5rem;
}

.searchbar-container input:focus {
    color: white;
}

.searchbar-container button {
    height: 40%;
    width: 2.5rem;
    margin: 1.2rem 0;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1.5px white solid;
    border-left: none;
}

.searchbar-container button i {
    color: white;
    vertical-align: middle;
}

.searchbar-container button:hover {
    background-color:  rgb(52,191,162);
}

.searchbar-container input::placeholder {
    color: white;
    padding-left: 0.5rem;
}

.searchbar-container input:focus::placeholder {
    color: transparent;
}

@media only screen and (max-width: 720px) {
    .searchbar-container input {
        display: none;
    }

    .searchbar-container button {
        border: 1.5px white solid;
    }

    .searchbar-container {
        width: 15%;
        border: green solid 1px;
    }
}