.navbar__top {
    background-color: rgb(82, 162, 87);
    height: 2em;
    display: flex;
    justify-content: flex-end;
}

.cart {
    border: red dotted;
    width: 5%;
    margin: 0 1em;
}

button.login {
    background-color: rgb(82, 162, 87);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    outline: none;
}

button.login:hover {
    color: black;
}

.navbar__bottom {
    width: 100%;
    height: 4em;
    background-color: rgb(150, 201, 153);
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

#shop-name {
    display: inline-block;
    width: 15%; 
    height: 100%;
    margin: 0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.4em;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.navbar__bottom--right {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.navbar__bottom--right h1, .shop-dropdown {
    display: block;
    padding: 1.3em;
    margin-top: -1.3em;
    margin-bottom: -1.3em;
}

.navbar__bottom--right h1:hover, .shop-dropdown:hover {
    color: black;
}

.dropdown-content {
    display: none;
}

.shop-dropdown {
    height: 4rem;
    margin-top: 0;
    z-index: 999;
}

.shop-dropdown:hover .dropdown-content {
    display: block;
    margin-top: 1.4rem;
    background-color: rgba(113, 196, 118, 0.9);
}



