nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.navbar__top {
    background-color: rgb(52,191,162);
    height: 2rem;
    display: flex;
    justify-content: flex-end;
}

.upper-linker {
    margin-right: 2rem;
    width: 5%;
}

button.upper-link {
    background-color: rgb(52,191,162);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    outline: none;
}

#cart-button {
    background-color: rgb(213,77,77);
}

button.upper-link:hover {
    color: black;
}

.navbar__bottom {
    width: 100%;
    height: 5rem;
    background-color: rgb(72,197,171);
    display: flex;
    justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

#shop-name {
    width: 15%;
    color: white;
    height: 100%;
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.5rem;
    padding-top: 1rem;
    text-align: center;
}

#shop-name:hover {
    color: black;
    transition: ease 0.2s;
}

.link {
    text-decoration: none;
    color: white;
    display: block;
    height: 5rem;
    text-align: center;
    padding: 2rem 0;
    font-size: 0.8rem;
}

.link:hover {
    color: black;
    transition: ease 0.2s;
}

.navbar-items {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.shop-dropdown, .nav-about, .nav-contact {
    width: 10%;
}

.shop-dropdown {
    z-index: 99;
}

.shop-dropdown__contents {
    display: none;
}

.shop-dropdown:hover .shop-dropdown__contents {
    display: block;
    background-color: rgba(72,197,171,0.9);
}

.shop-dropdown__content-link {
    height: 3rem;
    padding: 1rem 0;
}

.nav-dropdown__icon {
    display: none;
}

.nav-dropdown__contents {
    display: none;
}

.dropdown-arrow {
    display: inline-block;
    border: white solid 1px;
    height: 0.5rem;
    width: 0.5rem;
    margin-left: 5px;
    border-top: none;
    border-left: none;
    transform: translateY(-3px) rotate(45deg);
}

.shop:hover .dropdown-arrow {
    border-color: black;
    transition: ease 0.2s;
}

@media only screen and (max-width: 480px) {
    #shop-name {
        order: 0;
        width: 50%;
        padding-top: 1.5rem;
        font-size: 1.8rem;
    }

    .navbar-items {
        display: none;
    }

    .nav-dropdown {
        font-family: 'Roboto', sans-serif;
        width: 20%;
        order: -1;
        z-index: 99;
    }

    .nav-dropdown__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }

    #bar {
        background-color: white;
        height: 4px;
        width: 60%;
        margin: 5px 0;
    }

    .nav-dropdown__contents#visible {
        display: block;
        width: 100%;
        position: absolute;
        background-color: rgb(52,191,162);
    }

    .nav-dropdown__contents#visible .link {
        width: 100%;
        height: 50px;
        font-size: 1rem;
        padding-top: 1rem;
        border: rgb(72,197,171) solid 2px;
    }

    .upper-linker {
        width: 15%;
        margin-right: 1rem;
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #shop-name {
        font-size: 2rem;
        padding-top: 0.5rem;
    }

    .shop-dropdown, .nav-about, .nav-contact {
        width: 20%;
    }

    .upper-linker {
        width: 10%;
    }
}