.item-showcase {
    border: red solid 1px;
    height: 350px;
    max-width: 290px;
    margin: 20px 6px;
}

.item-img {
    width: 100%;
    height: auto;
    border: green solid 1px;
}

.item-name, .item-price {
    border: rgb(94, 94, 211) solid 1px;
    text-align: center;
}

.item-showcase:hover .item-name, .item-showcase:hover .item-price {
    color: rgb(72,197,171);
    transition: ease 0.2s;
}

@media only screen and (max-width: 720px) {
    .item-showcase {
        width: 180px;
        height: 240px;
        font-size: 0.8rem;
    }
    
}