.item-showcase {
    height: 350px;
    width: 290px;
    margin: 20px 0.5%;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-name, .item-price {
    text-align: center; 
}

.item-showcase:hover .item-name, .item-showcase:hover .item-price {
    color: rgb(72,197,171);
    transition: ease 0.2s;
}

@media only screen and (max-width: 480px) {
    .item-showcase {
        width: 46%;
        height: 190px;
        font-size: 0.7rem;
        margin: 20px 2%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .item-showcase {
        width: 30%;
        height: 300px;
        margin: 20px 1.6%;
    }
}
