footer {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color:rgb(27,31,35);
    color: rgb(127,140,141);
    padding: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



footer h5 {
    margin-top: 1em;
    font-weight: 300;
    color: rgb(127,140,141);
}

footer h5:hover {
    font-size: 1.01em;
    color: white;
    cursor: pointer;
}

.fa {
    margin-top: 10px;
    color: rgb(127,140,141);
    width: auto;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: white;
}

@media only screen and (max-width: 720px) {
    footer {
        flex-wrap: wrap;
        line-height: 1.5rem;
    }

    .information, .customer-service {
        width: 50%;
    }

    .information {
        float: left;
    }

    .customer-service {
        float: right;
        text-align: right;
    }

    .follow-us {
        margin-top: 2rem;
        text-align: center;
    }
}