.login-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto auto;
    font-family: 'Roboto', sans-serif;

}

.login-form input {
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

#email-label {
    margin-top: 2em;
    margin-bottom: 1em;
}

#password-line {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#password-line h6 {
    color: rgb(150, 201, 153);
    font-weight: 300;
    cursor: pointer;
}

#password-line h6:hover {
    color: rgb(82, 162, 87);
}

#submit-line {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3em;
    align-items: center;
}

#submit-line h6 {
    font-weight: 300;
}

#submit-line span {
    color: rgb(150, 201, 153);
    cursor: pointer;
}

#submit-line span:hover {
    color: rgb(82, 162, 87);
}

#submit-line button {
    height: 3em;
    width: 20%;
    background-color: rgb(150, 201, 153);
    border: none;
    color: white;
    cursor: pointer;

}

#submit-line button:hover {
    background-color: rgb(82, 162, 87);
}