.all-collections {
    font-family: 'Roboto', sans-serif;
}

.all-collections__header {
    height: 200px;
    background-image: url('../Home/shallow-focus-photography-of-green-leafed-plants-1207966.jpg');
    background-size: cover;
}

.all-collections__header h2 {
    display: block;
    position: absolute;
    margin: 50px calc((100vw - 400px)/2); 
    font-size: 2rem;
    height: 100px;
    width: 400px;
    text-align: center;
    padding-top: 2rem;
    color: rgb(150,201,153);;
    background-color: rgb(255, 255, 255);
}

#read-more {
    cursor: pointer;
    color: rgb(150,201,153);
    font-weight: 500;
}

#read-more:hover {
    color: rgb(82,162,87);
}