.collection {
    font-family: 'Roboto', sans-serif;
}

.collection__header {
    height: 200px;
    background-image: url('../Home/shallow-focus-photography-of-green-leafed-plants-1207966.jpg');
    background-size: cover;
}

.collection__header h2 {
    display: block;
    position: absolute;
    margin: 50px calc((100vw - 300px)/2); 
    font-size: 2rem;
    height: 100px;
    width: 300px;
    text-align: center;
    padding-top: 2rem;
    color: rgb(72,197,171);
    background-color: rgb(255,248,240);
}

#read-more {
    cursor: pointer;
    color: rgb(72,197,171);;
    font-weight: 500;
}

#read-more:hover {
    color: rgb(43, 156, 132);
    transition: ease 0.2s;
}

.showcase {
    width: 80%;
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}